/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 0, 0, 1); }
a { color: #222838; }
a:hover { color: #bd8c8c; }

/* GLOBAL TYPOGRAPHY */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 88.75%; /* 14px */
  line-height: 1.4;
}

/* SITE STRUCTURE */

/*HEADER*/
header {
    background-color: #2a3f5e;
    color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: white;
}

/*SITE ID*/
.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}
 
/* MAIN */
main {
    background: rgba(0, 0, 0. 0.5);
}


/* HERO SECTION */
.hero {
    background-color: #fbdfd6;
    text-align: center;
    color: #496b7e;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
    color: #2a3f5e
}

/* COURSE SECTION */
.courses {
    background-color: #f9ede8;
    padding: 6em 1em;
    display: grid;
    justify-content: center;
    color: #073c1f;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
}


/* FOOTER */
footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em;
}

/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav  a {
    display: block;
    padding: 1em;
}

/* SIDE BAR/ASIDE */
aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        margin: 1 3em 2em 1;
        padding: .3em 2em 0 0;
    }
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: #f9ede8;
   color: #698a9c;
}

.page-sub .hero p {
    max-width: 30em;
    margin: 1em auto;
    color: #936c6c;
}

/* COURSE PAGE WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* CUSTOME HOME PAGE STYLING */
/* .page-home header {
    background-color: transparent;
} */

.page-home .hero { 
    background-image: url(../image/mount\ shasta2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
   


/* DEFINITION LISTS */
    dt {
        font-weight: bold;
        margin-top: 1em;
    }

dd {
    margin: 0%;
}


/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */

