/* GLOBAL RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* GLOBAL COLORS */
body { color: rgba(0, 0, 0, .8); }
a { color: #2a3f5e }
a:hover { color: #c8cdcd;; }
 


/* GLOBAL TYPOGRAPHY */
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 88.75%; /* 14px */
  line-height: 1.4;
}

/* SITE STRUCTURE */

/*HEADER*/
header {
    background-color: #2a3f5e;
    color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: white;
}

/*SITE ID*/
.site-id h1 {
    margin: 0;
}

.site-id a:hover {
    color: #adf1f4;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

.site-nav a:hover {
    color: #adf1f4;
}
 
/* MAIN */
main {
    background: rgb(247, 248, 249);
}


/* HERO SECTION */
.hero {
    background-color: #fbdfd6;
    text-align: center;
    color: #adf1f4;
    padding: 6em 1em;
}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    max-width: 30em;
    margin: 1em auto;
    color: #beeffa
}

/* COURSE SECTION */
.courses,
.test {
    background-color: rgb(0,0,0, 1);
    padding: 6em 1em;
    display: grid;
    justify-content: center;
    color: #f1f3f7;
}

.courses ul,
.test {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3, {
    text-align: center;
}

.courses a { color: rgb(131, 176, 224); }
.courses a:hover { color: #adf1f4; }


/* FOOTER */
footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em;
    background-color: #2a3f5e;

}



/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav  a {
    display: block;
    padding: 1em;
    color: #f2f2f9;
}


.social-nav a:hover { color: #adf1f4; }

/* LAYOUT */
.containter {
    max-width: 1000px;
    margin: 0;

}

section {
    padding: 3em 1em;
}


/* SIDE BAR/ASIDE */

aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: #171b34;
    color:  #dbe5f3;
}



.page-sub .hero p {
    max-width: 30em;
    margin: 1em auto;
    color: #2a3f5e;
}


/* COURSE PAGE WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #7ea7bc;
    
}


.project {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* CUSTOME HOME PAGE STYLING */


.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.page-home .hero { 

    background-image: url(../image/mountshasta4.jpg);
    background-size: cover;
    background-position: 45% 55%;
    position: relative;
    padding: 30vh 1em;
    background-color: rgba(0, 0, 0, .8);
    
}

   
/* .page-home .hero::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / .5);
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
} */

/* DEFINITION LISTS */
    dt {
        font-weight: bold;
        margin-top: 1em;
    }

dd {
    margin: 0%;
}


/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */

