/* GLOBAL RESET */
* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

/* GLOBAL COLORS */
body {
    color: rgba(0, 0, 0, .8);
}

a {
    color: #2a3f5e;
    text-decoration: none;
}

a:hover {
    color: #ab5e82;
}



/* GLOBAL TYPOGRAPHY */
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 88.75%;
    /* 14px */
    line-height: 1.4;
}

/* RESPONSIVE IMAGES */
img {
    max-width: 100%;
    height: auto;


}

/* SITE STRUCTURE */

/*HEADER*/
header {
    background-color: #1c3150;
    color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: #dbc6c0;
}

/*SITE ID*/
.site-id h1 {
    margin: 0;
}

.site-id a:hover {
    color: #dbc6c0;
}

.visually-hidden {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

.site-nav a:hover {
    color: #dbc6c0;
}

/* MAIN */
main {
    background: rgb(247, 248, 249);
    /* padding-bottom: 6em; */
}


/* HERO SECTION */
.hero {
    /* background-color: #fbdfd6; mount shata image */
    text-align: center;
    color: #f5d1b1;
    padding: 6em 1em;

}

.hero h2 {
    font-size: 6em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;

}

.hero p {
    max-width: 30em;
    margin: 1em auto;
    color: #f1e9ed
}

/* COURSE SECTION */
.courses {
    background-color: #626981;
    padding: 5em 1em 12em 1em;
    display: grid;
    justify-content: center;
    color: #f1f3f7;

}



.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.courses h3 {
    text-align: center;
}

.courses a {
    color: #dbc6c0;
}

.courses a:hover {
    color: #303854;
}


/* FOOTER */
footer {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: 1em;
    background-color: #131d2c;
    display: block;
    unicode-bidi: isolate;
}



/* SOCIAL NAV */
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    display: block;
    padding: 1em;
    color: #aaa2b1;
}


.social-nav a:hover {
    color: #dbc6c0;
}

/* LAYOUT */
.containter {
    max-width: 1000px;
    margin: 0;

}

section {
    padding: 3em 1em;
}


/* SIDE BAR/ASIDE */

aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }

    .two-col-sidebar aside {
        border-right: 1px solid rgba(0, 0, 0, 1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* STYLING FOR SUB PAGES */
.page-sub .hero {
    background-color: #626981;
    color: #f5d1b1;

}


.page-sub .hero h4 {
    max-width: 30em;
    margin: 1em auto;
    color: #c2bebb
}


/* COURSE PAGE WITH MULTIPLE PROJECT LISTS */
.coursework,
.test {
    padding: 3em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 225);

}




.project {
    margin: 2em;
}

/* CODE BLOCKS */

pre code {
    width: 100%;
    display: block;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.markup-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 1em 3em;
    margin-bottom: 1em;
}

/* CUSTOME HOME PAGE STYLING */


.page-home header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

header {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.page-home .hero {

    background-image: url(../image/mountshasta4.jpg);
    background-size: cover;
    background-position: 45% 55%;
    position: relative;
    padding: 30vh 1em;
    background-color: rgba(0, 0, 0, .8);

}


/* .page-home .hero::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / .5);
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
} */

/* DEFINITION LISTS */
dt {
    font-weight: bold;
    margin-top: 1em;
}

dd {
    margin: 0%;
}


/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */

/* BUTTONS */


.classes .button {
    font-size: inherit;
    display: inline-block;
    background-color: #1c3150;
    border: 1px solid #1c3150;
    color: #fff;
    padding: 4em 4em;
    text-decoration: none;

}



.classes a:hover {
    background-color: #ab5e82;
    color: #f5d1b1;
    border-color: #ab5e82;
    text-decoration: none;
}


/* HONEYCOMBS BUTTONS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* body {
    font-family: 'Poppins', sans-serif;
    background: #111111;
} */

.honeycomb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);

}

.honeycomb-cell {
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
}

/* .honeycomb-cell_img {
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
} */

.honeycomb-cell_title {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
    text-decoration: none;
}

.honeycomb-cell_title>small {
    font-weight: 300;
    margin-top: 0.25em;
    text-decoration: none;
}

.honeycomb-cell::before,
.honeycomb-cell::after {
    content: '';
}

.honeycomb-cell::before,
.honeycomb-cell::after,
.honeycomb-cell_img {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.honeycomb-cell::before {
    background: #fff;
    transform: scale(1.055);
}

.honeycomb-cell::after {
    background: #111111;
    opacity: 0.7;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}

.honeycomb-cell:hover .honeycomb-cell_title {
    opacity: 0;
}

.honeycomb-cell:hover .honeycomb-cell_img {
    filter: grayscale(0%);
}

.honeycomb-cell:hover::before {
    background: #ab5e82
}

.honeycomb-cell:hover::after {
    opacity: 0;
}

.honeycomb_Hidden {
    display: none;
    opacity: 0;
    width: 250px;
    margin: 0 12.5px;
}

/****** Responsive *******/

@media (max-width: 550px) {
    .honeycomb-cell {
        margin: 81.25px 25px;
    }
}


@media (min-width: 550px) and (max-width: 825px) {
    .honeycomb-cell:nth-child(3n) {
        margin-right: calc(50% - 125px);
        margin-left: calc(50% - 125px);
    }

    .honeycomb_Hidden:nth-child(3n + 5) {
        display: block;
    }
}


@media (min-width: 825px) and (max-width: 1100px) {

    .honeycomb-cell:nth-child(5n + 4) {
        margin-left: calc(50% - 275px);
    }

    .honeycomb-cell:nth-child(5n + 5) {
        margin-right: calc(50% - 275px);
    }

    .honeycomb_Hidden:nth-child(5n),
    .honeycomb_Hidden:nth-child(5n + 3) {
        display: block;
    }
}

@media (min-width: 1100px) {
    .honeycomb-cell:nth-child(7n + 5) {
        margin-left: calc(50% - 400px);
    }

    .honeycomb-cell:nth-child(7n + 7),
    .honeycomb-cell:nth-child(7n + 5):nth-last-child(2) {
        margin-right: calc(50% - 400px);
    }

    .honeycomb_Hidden:nth-child(7n + 7),
    .honeycomb_Hidden:nth-child(7n + 9),
    .honeycomb_Hidden:nth-child(7n + 11) {
        display: block;
    }
}