@charset "UTF-8";

/* #BASE CSS (Initital Setup)
---------------------------------
    #GLOBAL SETTINGS
        # GLOBAL VARIABLES
        # GLOBAL RESETS
        # GLOBAL COLORS
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
        #HELPERS
        #MEDIA
            #IMAGES
            #VIDEO
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIA QUERIES
        #CONTAINER
        #GRID SYSTEM
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #SITE NAVIGATION
                #TOGGLE-NAV (Default for Small Screens)
            #FOOTER
            #SECTIONS
            #SUB PAGES
            #ARTICLES
                #...
      #CUSTOM STYLING
        #SECTION SPECIFIC STYLING
--------------------------------- */




/* ----------------------------- */
/* ----- GLOBAL STYLING -------- */
/* ----------------------------- */
/* SET GLOBAL VARIABLES */
:root {
  /* BASE COLORS */
  --color-body-background: rgb(255, 255, 255);
  --color-text-body: rgba(0, 0, 0, 0.8);
  --color-links: rgb(0, 51, 102);
  --color-links-darker: rgb(0, 0, 51);
  /* BASE TYPOGRAPHY */
  --font-body: system-ui, Helvetica, Arial, sans-serif;
  --font-headings: system-ui, Helvetica, Arial, sans-serif;
}

/* GLOBAL RESETS */
/* CHANGE BOX-SIZING FOR ALL TO BORDER-BOX */
* {
  box-sizing: border-box;
}

/* REMOVE THE DEFAULT 8px MARGIN ON THE BODY */
body {
  margin: 0;
}

/* GLOBAL COLORS */
body {
  /* SET THE COLOR OF THE MAIN BODY BACKGROUND */
  background-color: var(--color-body-background);
  /* SET THE COLOR OF THE MAIN BODY TEXT */
  color: var(--color-text-body);
}

a {
  /* SET THE COLOR OF ALL TEXT LINKS */
  color: var(--color-links);
}

a:hover {
  /* SET THE COLOR OF ALL HOVER STATES ON TEXT LINKS */
  color: var(--color-links-darker);
}

/* SET GLOBAL TYPOGRAPHY */
/* # GLOBAL BODY FONT SETTINGS */
body {
  /* SET THE DEFAUT FONT FAMILY FOR ALL MAIN BODY TEXT */
  font-family: var(--font-body);
  /* SET THE DEFAULT FONT SIZE ALL MAIN BODY TEXT */
  font-size: 100%;
  /* 16px; */
  /* SET THE DEFAULT LEADING (LINE-HEIGHT) FOR ALL BODY TEXT */
  line-height: 1.4;
}

/* # GLOBAL HEADING SETTINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* SET THE DEFAUT FONT FAMILY FOR ALL HEADINGS */
  font-family: var(--font-headings);
  /* SET THE DEFAUT MARGINS ALL HEADINGS */
  margin: 0.5em 0;
}

/* SET THE DEFAULT TYPOGRAPHIC SCALE FOR ALL HEADINGS 
   (e.g. a "Traditional" Scale) */
h1 {
  font-size: 3em;
  /* 48px / 16px = 3em */
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  /* 36px / 16px = 2.25em */
  line-height: 1.1;
}

h3 {
  font-size: 1.5em;
  /* 24px / 16px = 1.5em */
  line-height: 1.2;
}

h4 {
  font-size: 1.3125em;
  /* 21px / 16px = 1.3125em */
  line-height: 1.3;
}

h5 {
  font-size: 1.125em;
  /* 18px / 16px = 1.125em */
  line-height: 1.4;
}

h6 {
  font-size: 1em;
  /* 16px / 16px = 1em */
  line-height: 1.5;
}

/* # GLOBAL PARAGRAPH SETTINGS */
p {
  /* SET THE DEFAUT MARGINS ALL PARAGRAPHS */
  margin: 0.5em 0;
  /* SET THE NUMBER OF CHARACTERS PER LINE */
  max-width: 65ch;
  /* WIDOW FIXER */
  text-wrap: pretty;
}

/* SET THE DEFAUT WEIGHT FOR BOLD/STRONG TEXT */
strong {
  font-weight: 700;
}

/* SET THE DEFAUT STYLING FOR ITALIC/EMPASIZED TEXT */
em {
  font-style: italic;
}

/* #LINKS */
a {
  color: var(--color-links);
}

a:hover {
  color: var(--color-links-darker);
}

/* LIST */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  margin-top: .5em;
  margin-bottom: .5em;
}

/* TEXT CENTERING HELPER CLASS */
.text-centered {
  text-align: center;
}

.hidden {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

@media (min-width: 768px) {
  .hidden-desktop {
    position: absolute;
    top: -9999px;
    left: -9999px;

  }
}

@media (min-width: 767px) {
  .hidden-mobile {
    position: absolute;
    top: -9999px;
    left: -9999px;

  }
}


.text-centered p {
  margin-left: auto;
  margin-right: auto;
}

/* #MEDIA  */
/* #IMAGES */
img {
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/* #VIDEO */
video {
  max-width: 100%;
  height: auto;
}

/* #COMPONENTS  */
/* #BUTTONS */
button {
  font-size: inherit;
}

button,
a.button,

form input[type=submit] {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-links);
  color: #fff;
  padding: 0.75em 1em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}



.class-button,
.swiper-button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-links);
  color: #581A1B;
  padding: 0.75em 1em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
}


button.alt,
a.button.alt,
.swiper-button.alt {
  background-color: transparent;
  border: 1px solid var(--color-links);
  color: #ED187C;
}

button:hover,
a.button:hover,
.class-button:hover,
.swiper-button:hover,
form input[type=submit]:hover {
  background-color: transparent;
  color: #ED187C;
  border-color: var(--color-links-darker);
  text-decoration: none;


}

.swiper-button {}


/* LAYOUT */
/*
#MEDIA QUERIES (Mobile First)
	#DEFAULT+ (Mobile First - Default Settings in the CSS Above)
	#SMALL- (Mobile Only Overrides) - max-width: 767px
	#MEDIUM+ (Tablet) - min-width: 768px
	#LARGE+ (Desktop) - min-width: 1050px
	#EXTRALARGE+ (Desktop+) - min-width: 1250px  */
/* SMALL+ (Mobile First Defaults) */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}

/* SET YOUR BODY TEXT TO BE RESPONSIVE 
  - Small screens: 14px;
  - Medium Screens: 16px;
  - Large Screens: 18px;
*/
/* MOBILE FIRST (DEFAULT) */
body {
  font-size: 87.5%;
  /* 14px; */
}

/* #MEDIUM+ MEDIA QUERY */
@media (min-width: 768px) {
  /* Inherits Small/Mobile Body Type from Above */
}

/* #LARGE+ MEDIA QUERY */
@media (min-width: 1050px) {

  /* LARGE BODY TYPE */
  body {
    font-size: 100%;
    /* 16px; */
  }
}

/* #EXTRA-LARGE+ MEDIA QUERY */
@media (min-width: 1250px) {

  /* EXTRA-LARGE BODY TYPE */
  body {
    font-size: 112.5%;
    /* 18px; */
  }

  /* FIXED WIDTH */
  .container {
    max-width: 1200px;
  }
}

/* SEMANTIC GRID USING CSS FLEX BOX */
.row {
  --gridgap: 4%;
}

.row>* {
  margin-bottom: var(--gridgap);
}

@media (min-width: 768px) {
  .row {
    display: flex;
    gap: var(--gridgap);
  }

  .row>.one-whole {
    width: 100%;
  }

  .row>.one-half {
    width: calc(50% - var(--gridgap) / 2);
  }

  .row>.one-third {
    width: calc(33.3333% - var(--gridgap) / 1.5);
  }

  .row>.two-thirds {
    width: calc(66.6666% - var(--gridgap) / 3);
  }

  .row>.one-fourth {
    width: calc(25% - var(--gridgap) / 1.5);
  }

  .row>.three-fourths {
    width: calc(75% - var(--gridgap) / 2.5);
  }

  .row>.one-fifth {
    width: calc(20% - var(--gridgap) / 4);
  }

  .row>.five-twelths {
    width: calc(41.6666% - var(--gridgap) / 2);
  }

  .row>.push-one-half {
    margin-left: calc(50% - var(--gridgap) / 2 + var(--gridgap));
  }

  .row>.push-one-third {
    margin-left: calc(33.3333% - var(--gridgap) / 1.5 + var(--gridgap));
  }

  .row>.push-one-fourth {
    margin-left: calc(25% - var(--gridgap) / 1.5 + var(--gridgap));
  }

  .row>.push-one-twelth {
    margin-left: calc(8.3333% - var(--gridgap) / 2 + var(--gridgap));
  }

  .row>.centered {
    margin-left: auto;
    margin-right: auto;
  }

  .row.swapped {
    flex-direction: row-reverse;
  }
}



/* FOR DEMO PURPOSES ONLY */
.demo .column {
  padding: 1em;
  background: #ddd;
  text-align: center;
}

.demo .column p {
  margin: 0;
  padding: 0 0.5em;
  max-width: none;
}

/* Header & Footer */
body {
  background: #fff;
}

/* Site Header */
.site-header {
  background: #fff;
  border-bottom: 0px solid #ccc;
  padding: 0.5em 1em;
}

@media (min-width: 768px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    padding-top: 0.75em;
  }
}

.site-header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

}

.site-header a:hover {
  color: #ED187C;

}

.site-header a.button {
  color: white;
}

/* Site ID */
.site-id {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.site-id a img,
.site-id a svg {
  display: block;
}

.site-id h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #999;
  padding: 0.5em 0 0.4em 0;
}

.site-id h1 a {
  font-weight: bold;
  display: inline-block;
}

/* Site Footer */
.site-footer {
  background: #fff;
  border-top: 0px solid #ccc;
}

.site-footer a {
  color: #ED187C;
  text-decoration: none;
  text-transform: uppercase;
}

.site-footer a:hover {
  color: #581A1B;
}

.site-footer .container {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

@media (min-width: 768px) {
  .site-footer .container {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
  }
}

/* Main Site Section (Main Content Area) */
.site-main {
  /* background-color: #fff; */
  overflow-x: hidden;
}

/* Main Sections */
section {
  padding: 1.5em 0;
}

/* Hero Sections */
/* .hero {
  background: #ddd;
  border-top: none;
  padding: 1em;
  margin-bottom: 1.5em;
}
.hero h1,
.hero h2 {
  font-size: 3em;
  line-height: 1.1em;
}
.hero.full-width {
  margin-top: 0;
  margin-bottom: 0;
} */

/* Articles */

article {
  max-width: 38em;
  margin: 0 auto 8em auto;
  padding: 2em 0;
}

article h1 {
  text-align: center;
}

article h1+h2 {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: normal;
  margin-bottom: 1em;
}



article .date {
  text-align: center;
  font-size: 0.625em;
  line-height: 0.625em;
  color: #999;
  font-weight: normal;
}

article .date+p {
  margin-top: 2em;
}

article p+h2,
article p+h3,
article p+h4,
article p+h5,
article p+h6 {
  margin-top: 1em;
}

article p:first-of-type {
  font-size: 1.3em;

}

article p:first-of-type:first-letter {
  font-size: 3em;
  line-height: 1em;
  background: #000;
  color: white;
  padding: .2em .4em;
  margin-right: .3em;
  float: left;
}

article h2.subhead,
article h4.subhead {
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.3;
  opacity: .7;

}

article h4.subhead {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.3;
  opacity: .7;

}


/* Posts */
.post {
  padding: 2em 0;
}

/* Sub Pages with Multiple Column Layout */
@media (min-width: 768px) {
  .subpage-twocol {
    display: flex;
  }
}

@media (min-width: 768px) {
  .subpage-sidebar {
    width: 21%;
    padding-right: 2em;
  }
}

.subpage-sidebar .subheader {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #999;
}

@media (min-width: 768px) {
  .subpage-main {
    width: 70%;
    padding-left: 2em;
    border-left: 1px solid #ccc;
  }
}

.subpage-main section:first-child {
  padding-top: 0;
}

.subpage-main section:last-child {
  padding-bottom: 5em;
}

.subpage-navigation {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  padding: 0;
}

.subpage-navigation ul {
  margin: 0;
  padding: 0;
}

.subpage-navigation ul li {
  list-style: none;
  margin-left: 0;
}

.subpage-navigation ul li a {
  text-decoration: none;
  display: block;
  padding: 0.5em 0.875em;
  border-bottom: 1px solid #ccc;
}

.subpage-navigation ul li ul {
  border-top: none;
}

.subpage-navigation ul li ul li a {
  padding-left: 1.875em;
}

/* Sub page with list items */
.list-item {
  padding: 2em 0;
}

.list-item .featured-image {
  width: 30%;
  margin-right: 5%;
  float: left;
}

.list-item article {
  margin-left: 35%;
}

.list-item article h2 {
  margin-top: 0;
}

.list-item:after {
  content: "";
  display: table;
  clear: both;
}

.list-item+.list-item {
  margin-top: 2em;
  border-top: 1px solid #eee;
  padding-top: 4em;
}

/* Swap the display order of two columns */
.orderswap {
  flex-direction: row-reverse;
}

/* OLD/LEGACY SUPPORT FOR PRE-FLEXBOX ORDERSWAP */
/* OLD VERTICAL CENTERING MARKUP PRE-FLEXBOX */
.vert-parent .column {
  display: flex;
  align-items: center;
}

/* Thumb Lists */
.thumblist {
  padding: 0;
}

.thumblist li {
  list-style: none;
  margin: 0;
  padding: 3em 0;
  clear: both;
}

.thumblist li img {
  max-width: 30%;
  margin: 0 2em 1em 0;
  float: left;
}

.thumblist li p {
  max-width: none;
}

.thumblist li+li {
  border-top: 1px solid #ddd;
}

@media (max-width: 767px) {
  .thumblist li img {
    max-width: 100%;
    margin: 0 0 1em 0;
    float: none;
  }
}

.thumblist-grid {
  margin: 2em 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.thumblist-grid li {
  list-style: none;
  margin-left: 0;
  margin-bottom: 2em;
  width: 46%;
  margin-right: 8%;
  text-align: center;
  font-size: 0.8em;
}

.thumblist-grid li a {
  outline: none;
}

.thumblist-grid li a img {
  transition: border-color 0.3s ease;
  border-color: #fff;
}

.thumblist-grid li a img:hover {
  border: 3px solid #39c;
}

.thumblist-grid li h5,
.thumblist-grid li p {
  line-height: 1.2em;
}

.thumblist-grid li:nth-child(even) {
  margin-right: 0;
}

@media (min-width: 768px) {
  .thumblist-grid li {
    width: 19%;
  }

  .thumblist-grid li:nth-child(even) {
    margin-right: 8%;
  }

  .thumblist-grid li:nth-child(4n) {
    margin-right: 0;
  }
}

/* #SITE NAVIGATION  */
/* Default Site-Navigation Menu (both header & footer) */
.site-navigation {
  font-family: system-ui, Helvetica, Arial, sans-serif;
}

.site-navigation .menu-button {
  display: none;
}

.site-navigation ul {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.site-navigation ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 1;
}

.site-navigation ul li li {
  white-space: nowrap;
}

.site-navigation ul li a {
  display: block;
  padding: 0.5em 0.75em 0.4em 0.75em;
}

.site-navigation ul li ul {
  border-top: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .site-navigation ul {
    border-top: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  /* .site-navigation ul li { */
  /* DROP DOWN MENU */
  /* stack nested lists */
  /* hide nested lists by default */
  /* show nested lists on hover */
  /* SELECTED STATE */
  /* }  */

  .site-navigation ul li a {
    margin: 0 0.5em;
    padding: 0.85em 0.5em 0.75em 0.5em;
  }

  .site-navigation ul li a.button {
    padding: 0.75em 1em;
  }

  .site-navigation ul li li {
    display: block;
  }

  .site-navigation ul li ul {
    display: block;
    text-align: left;
    position: absolute;
    z-index: 100;
    left: -9000px;
    background: #fff;
  }

  .site-navigation ul li ul a {
    color: #999;
  }

  .site-navigation ul li:hover ul {
    left: auto;
    right: 0;
  }

  .site-navigation ul li.selected a,
  .site-navigation ul li.current-menu-item a {
    font-weight: bold;
  }

  .site-navigation ul li.selected li a,
  .site-navigation ul li.current-menu-item li a {
    font-weight: normal;
  }
}

@media (max-width: 767px) {

  .site-navigation ul li,
  .site-navigation ul li ul li {
    display: block;
  }

  .site-navigation ul li a:hover {
    color: #fff;
    background-color: #003;
  }
}

/* Default Site-Navigation (footer only) */
.site-footer .site-navigation ul {
  border-top: none;
  margin: 0;
}

/* TOGGLE NAV */
@media (max-width: 767px) {
  .toggle-nav {
    text-align: right;
    /* MENU BUTTON */
    /* TOGGLE NAV UL */
  }

  .toggle-nav .site-id {
    position: absolute;
  }

  .toggle-nav li a:hover {
    color: #fff;
    background: #036;
  }

  .toggle-nav .menu-button {
    margin: 0.8em 0;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .toggle-nav .menu-button::selection {
    background-color: rgba(255, 255, 255, 0);
  }

  .toggle-nav .menu-button.navicon {
    color: rgba(255, 255, 255, 0);
  }

  .toggle-nav .menu-button.navicon::after {
    color: rgba(255, 255, 255, 1);
    content: "☰";
    font-size: 1.5em;
    margin-top: -0.1em;
    margin-left: 0.5em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-block;
  }

  .toggle-nav[data-navstate=open] .menu-button.navicon::after {
    content: "✕";
  }

  .toggle-nav ul {
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }

  .toggle-nav[data-navstate=open] ul {
    max-height: none;
    padding: 1em 0;
  }

  .toggle-nav[data-navstate=open] ul ul {
    padding: 0;
  }
}

/* Animated Toggle-Nav Menu */
@media (max-width: 767px) {
  .toggle-nav.animated ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    border-width: 0;
    transition: all 0.3s ease;
  }

  .toggle-nav.animated[data-navstate=open] ul {
    max-height: 138em;
    opacity: 1;
    padding: 0.5em 0;
    border-width: 0px;
    transition: all 0.6s ease;
  }

  .toggle-nav.animated li {
    padding: 0;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .toggle-nav.animated[data-navstate=open] li {
    padding: 0.25em;
    opacity: 1;
    transition: all 0.6s ease 0.2s;
  }

  .toggle-nav.animated li a {
    padding: 0;
    transition: all 0.3s ease;
  }

  .toggle-nav.animated[data-navstate=open] li a {
    padding: 0.75em;
  }
}






/* FORMS */
form {
  margin: 1.75em 0;
}

form label {
  display: block;
}

form input,
form textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.15em;
  display: block;
  margin-bottom: 1.25em;
  width: 100%;
  color: #666;
  padding: 0.25em;
  border: 1px solid #ccc;
}

form textarea {
  border: 1px solid #ccc;
  min-height: 6em;
}

form input[type=button],
form input[type=submit],
form input[type=reset] {
  width: auto;
  background-color: #036;
  border: 1px solid #036;
  color: #fff;
  padding: 0.75em 1em;
  -webkit-border-radius: 0.32em;
  -moz-border-radius: 0.32em;
  border-radius: 0.32em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

form input[type=button]:hover,
form input[type=submit]:hover,
form input[type=reset]:hover {
  background-color: #003;
  border-color: #003;
}


/* CUSTOM SITE CSS */

.section-title {
  text-align: center;
  margin-bottom: 3em;

}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  margin: .5em auto;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

/* VERTICAL MEDIA QUERY ADDING HEIGHT/PADDING TO BOTTOM OF CONTACT SECTION ONLY FOR LARGE SCREES - CREDIT: TO ROMINA FOR THIS IDEA */

@media (min-width: 600px) {
  #contact {
    padding-bottom: 10em;
  }

  #scroll-image {
    padding-bottom: 10em;
  }
}


/* CUSTOM STYLING */
/* ART 229 SITE DESIGN 1 */


.site-header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 10;
}

.site-header {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}



.site-main .hero {

  background-image: url(../image/FFG2.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  padding: 4em 1em 1em 1em;
  text-align: center;
  min-height: 100svh;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; */
  display: grid;
  /* grid-template-columns: 1; */
  grid-template-rows: 7em auto 7em;
  gap: 5vh;
  /* background-color: rgba(0, 0, 0, .8); */
}

.ffg-title {
  grid-row: 2;
  justify-self: center;
  font-size: clamp(1em, 3vw, 3em);
  letter-spacing: 2vw;
  display: grid;
  place-items: center;
}

.ffg-title h1 {
  line-height: 1.1;
  margin: 0;
}

.fit {
  text-transform: uppercase;
  color: #ED187C;
  display: block;
}

.for-a {
  font-family: "Dancing Script", cursive;
  display: block;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: lowercase;
  letter-spacing: 0;
  margin-bottom: -.2em;
  margin-top: -.3em;
  position: relative;
  z-index: 10;
}


.goddess {
  text-transform: uppercase;
  color: #ED187C;
  display: block;
}

.button-scroll {
  padding-bottom: 2em;
}

.ffg-nav {
  grid-row: 3;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;

}

.ffg-nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.nav-menu {
  color: red;
}

/* RIBBON */

.site-main {
  position: relative;
  overflow-y: hidden;
}

.site-main .ribbon {
  background-image: url(../image/ribbon2.svg);
  /* border: 1px solid red; */
  /* background-size: 100% 100%; */
  background-position: center 0%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation-name: animate-ribbon;
  animation-duration: 220s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;

}

@keyframes animate-ribbon {
  0% {
    background-position: center 20%;
    /* scale: 1 1.5; */
  }

  50% {
    background-position: center 70%;
    /* scale: 1 1; */
  }

  100% {
    background-position: center 0%;
    /* scale: 1 1.5; */
  }
}


/* SECTION SPECIFIC STYLING */

/* #classes img {
  aspect-ratio: 1 / 1;
} */

/* SET BODY TYPE */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* SET HEADING TYPE */
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: #ED187C;
}

/* h3 {
  color: #581A1B;
} */

/* SCHEDULE SECTION STYLING */

.schedule-grid {
  display: grid;
  grid-template-columns: 25% 45% 30%;
  grid-template-rows: 40% 30% 30%;

}

.schedule-videoblock {

  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.scheudle-calendarblock {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}

/* NEW TO POLE SECTION STYLING */
@media (min-width: 768px) {


  .newtopole-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 33.3333% 33.3333% 33.3333%;
    gap: 1em;
    padding-bottom: 8em;

  }

  /* .newtopole-grid>* {
  overflow: hidden;
  border: 1px solid red;
} */


  .newtopole-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .newtopole-kneehold {
    grid-column: 1 / 2;
    grid-row: 1 / 2;



  }

  .newtopole-poleclass {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

  }

  .newtopole-poleclass2 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;


  }

  .newtopole-text {
    grid-column: 3 / 5;
    grid-row: 1/ 4;

  }

  .newtopole-text>*:first-child {
    margin-top: 0;
  }

  .newtopole-text>*:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {

  .newtopole-kneehold,
  .newtopole-poleclass,
  .newtopole-poleclass2 {
    margin-bottom: 1em;
  }
}




/* SCROLL TRIGGER ANIMNATION */
.observe-me.fade-in {
  opacity: 0;
  transition: opacity 1s linear;
}

.observe-me.fade-in[data-viewstate="active"] {
  opacity: 1;
}



.observe-me.from-left {
  opacity: 0;
  translate: -50px 0;
  transition: all 1s ease-out;

}

.observe-me.from-left[data-viewstate="active"] {
  translate: 0 0;
  opacity: 1;
}

.observe-me-schedule.from-left {
  opacity: 0;
  translate: -50px 0;
  transition: all 2s ease-out;
}

.observe-me-schedule.from-left[data-viewstate="active"] {
  translate: 0 0;
  opacity: 1;
}



.observe-me.from-right {
  opacity: 0;
  translate: 50px 0;
  transition: all 1s ease-out;
}

.observe-me.from-right[data-viewstate="active"] {
  translate: 0 0;
  opacity: 1;
}


/* SWIPER CAROUSEL */
@media (max-width: 767px) {
  .swiper-outer {
    padding: 0 50px;

  }
}


.swiper-wrapper {
  height: auto;
  overflow: hidden;

}

.swiper-button-prev {
  left: -40px;

}

.swiper-button-next {
  right: -40px;

}

.swiper {
  overflow: visible;


}

.swiper1 .swiper-button-prev,
.swiper1 .swiper-button-next {
  top: 40%;
}

.swiper-slide {
  text-align: center;

}



/* INSTAGRAM */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}